<div class="chat">
  <div>
    <form *ngIf="!joined">
      <label for="name">What's your name? </label>
      <input id="name" name="name" [(ngModel)]="userName" #name="ngModel" />
      <button (click)="join()">Send</button>
    </form>
  </div>
  <div class="chat-container" *ngIf="joined">
    <div class="messages-container">
      <div *ngFor="let message of messages">
        [{{ message.name }}]:
        {{ message.content }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="typingDisplay">{{ typingDisplay }}</div>

<div *ngIf="joined" class="message-input">
  <hr />
  <form>
    <label for="message">Message:</label>
    <input
      id="messageToSend"
      name="messageToSend"
      [(ngModel)]="messageToSend"
      #name="ngModel"
      (input)="inputTyping()"
    />
    <button (click)="sendMessage()">Send</button>
  </form>
</div>
